Django>=4.2,<4.3
djangorestframework==3.14.0 
django-environ
django-debug-toolbar
libsass
django-compressor
django-sass-processor
django-bootstrap4
django-cors-headers
uwsgi
mysqlclient
pandas
numpy
requests
openpyxl
xlrd